<ion-view title="Add Feedback">
  <ion-content class="padding">
  	<div class="card" style="background-color:#f8f8f8;">
	  	<h3>Overall Rating</h3>
	    	<div class="range range-positive">
			  	<i class="icon ion-sad"></i>
			  	<input type="range" name="volume" readonly>
			  	<i class="icon ion-happy"></i>
			</div>
	</div>

	<!-- CARDLISTS OF ELEMENTS -->

	<button class="button button-block button-positive" ng-click="showPopup();">
  			<span class="ion-android-add" ></span>
			Add Question
	</button>
  </ion-content>
</ion-view>