<ion-view title="Add Feedback">
  <ion-content class="padding">
    <div class="list">
	    <a class="item item-thumbnail-left" href="#">
	      <img src="/img/default_profile_pic.jpg" class="round-edges"/>
	      <h2>@MSELAB</h2>
	      <p>Learn the internal aspects and the working of popular web platforms.</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      <img src="/img/default_profile_pic.jpg" class="round-edges"/>
	      <h2>@Chukka</h2>
	      <p>Helps old people cross the street.</p>
	    </a>
	</div>
  </ion-content>
</ion-view>
