<ion-view title="Your Posts">
  <ion-content>
  	

  	<div class="list card">
  		<button class="button button-block button-positive"onclick="location.href='#/tab/addfeedback'">
  			<span class="ion-android-add" ></span>
			Add New
		</button>
  <a href="#/tab/results" class="item item-icon-left">
    <i class="icon ion-flask"></i>
    #MSELab2014
  </a>

  <a href="#/tab/results" class="item item-icon-left">
    <i class="icon ion-ios7-telephone"></i>
    #MSEClass2014
  </a>

</div>

    <!--<ion-list>
      <ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
        {{friend.name}}
      </ion-item>
    </ion-list>
    -->
  </ion-content>
</ion-view>
